body {
  margin: 0;
  font-family: sans-serif;
  font-size: 3vh;
}

.snake-board {
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
  width: 100vw;
  height: 100vh;
}

.snake-board td {
  background-color: #cce6c5;
}

.snake-board tr:nth-child(odd) td:nth-child(even) {
  background-color: #b5dac7;
}

.snake-board tr:nth-child(even) td:nth-child(odd) {
  background-color: #b5dac7;
}

.snake-board td div {
  height: 100%;
}

.snake-board .apple div div {
  background-color: red;
  border-radius: 50%;
}

.snake-board .snake div div {
  background-color: blue;
  transform: scale(1.5, 0.9);
  border-radius: 30%;
}

.snake-board .snake-head div div {
  background-color: #66F;
}

.snake-board .snake.Up div div, .snake-board .snake.Down div div {
  transform: scale(0.9, 1.5);
}

.snake-board .snake.Up div div {
  transform-origin: top center;
}

.snake-board .snake.Down div div {
  transform-origin: bottom center;
}

.snake-board .snake.Left div div {
  transform-origin: center left;
}

.snake-board .snake.Right div div {
  transform-origin: center right;
}

.snake-board .snake-head div {
  transform: scale(1.2);
  position: relative;
  z-index: 1;
}

.scoreboard div {
  margin-bottom: 10px;
}

.scoreboard div span {
  display: inline-block;
  width: 150px;
}

.scoreboard div span:nth-child(2) {
  width: calc(100% - 160px);
  text-align: right;
}
